

img{

	width:100%;
	height:auto;
}
.img-height{

  height: 400px;
}

.img-height1{

  height: 200px;
}

.card-title1{
margin-left:30px;
}

.center{
	justify-content:center; 
}

/* card style*/
.demo-card-wide1.mdl-card {
  width: 100%;
}
.demo-card-wide1 > .mdl-card__menu {
  color: #fff;
}


/*end*/


.head-foot {
    background-color: #6ab344;
    color: white;
}

.mdl-layout__content{
background-color: #f1f1f1;
}

.top-bottom{

	margin-top: 30px;
}

.header-title{
	text-decoration: none;
	color:white;
}

.download-link{
	text-decoration: none;
	color:blue;
}

.iframe1{
width:980px;
height:480px;
}


 @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
             local('MaterialIcons-Regular'),
             url(/version_5/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
             url(/version_5/iconfont/MaterialIcons-Regular.woff) format('woff'),
             url(/version_5/iconfont/MaterialIcons-Regular.ttf) format('truetype');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        width: 2em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
      }